body {
  margin: 0;
  padding: 1rem;
  font-family: sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
section,
.details-box {
  padding: 1rem;
  border: 1px solid lightgrey;
  margin-bottom: 1rem;
}
h2 {
  margin: 0;
  padding-bottom: 1rem;
  font-weight: 100;
  user-select: none;
}
pre {
  margin: 0;
  padding: 0;
  display: inline;
  font-weight: 100;
}
button {
  margin: 0 1rem;
}
.search-input,
.select-list {
  padding: 0.25rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style-type: circle;
}
ul > li {
  line-height: 1.75;
  color: rgba(50, 50, 50, 0.75);
  font-size: 0.9rem;
}
.drag-container {
  height: 15rem;
  position: relative;
}
.draggable {
  height: 60px;
  width: 60px;
  background-color: lightseagreen;
  position: absolute;
  cursor: move;
  top: 50%;
  left: 50%;
  transform: translate(-30px, -30px);
  transition: top 50ms ease-in-out, left 50ms ease-in-out;
}
.details-box p {
  padding: 0.5rem;
  margin: 0;
  font-size: 0.9rem;
  color: #585858;
}
